# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VS Code IDE
.vscode/*
!.vscode/settings.json

# Ignore Mac system files
.DS_Store

# Ignore bat/sh run scripts you might not want public
# run_server.bat 
